.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.full-width {
    width: 100vw;
}

.large-width {
    width: 80vw;
}

.full-height {
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.section-header-container {
    margin-bottom: 4vh;
}

.package-container-large {
    flex: 3;
    height: 60vh;
    width: 100%;
    background-color: #D6D6D6;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 12px;
}

.package-container-small {
    flex: 2;
    height: 50vh;
    width: 100%;
    background-color: #D6D6D6;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 12px;
}

.package-info-container {
    display: flex;
}

.brand-container {
    flex: 1;
    height: auto;
    min-height: 100px;
    background-color: #D6D6D6;
    border-radius: 12px;
}

.service-container {
    width: 60vw;
    height: 50vh;
    background-color: #D6D6D6;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 12px;
}

.review-container {
    flex: 1;
    height: 30vh;
    width: 100%;
    background-color: #D6D6D6;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 12px;
}

.container-margin {
    margin: 24px;
}

.border {
    border: 3px solid black;
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .flex-row {
        flex-direction: column;
        flex-grow: 1;
    }

    .package-container-large {
        min-width: 90vw;
    }
    
    .package-container-small {
        min-width: 90vw;
    }

    .brand-container {
        min-width: 200px;
    }

    .service-container {
        width: 90vw;
    }

    .section-header-container {
        margin-top: 20vh;
        margin-bottom: 2vh;
    }

    .review-container {
        min-height: 40vh;
        min-width: 80vw;
    }
}

