.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.full-width {
    width: 100vw;
}

.full-height {
    min-height: 100vh;
}