.landing-headers {

}

.mountain {
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 75% 25%, 65% 48%, 50% 10%, 35% 46%, 20% 20%, 0 60%, 0% 0%);
    border: 4px solid black;
    height: 400px;
}