.nav-wrapper {
    padding: 10px;
}

.nav {
    display: flex;
    flex-grow: 1;
}

.nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
}

.nav-link {
    margin-right: 14px; 
}

.nav-grow {
    transition: all .1s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: all .1s ease-in-out;
    }
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .nav {
        display: flex;
        width: 100vw;
        border: none;
    }
}