.package-header {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    color: #283645;
    margin-top: 28px;
    background-color: #B8C664;
    padding: 14px;
}

.package-header-text-small {
    font-size: 30px;
}

.package-header-text-large {
    font-size: 48px;
}