* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #e4b690;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Bungee', cursive;
  color: #283645;
  font-size: 7em;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 700;
  color: #328F5A;
  font-size: 2.3em;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-family: 'Bungee', cursive;
  color: #283645;
  font-size: 2.6em;
  margin: 0px;
  padding: 0px;
}